<br>
<h1 style="text-align: center;">Employee Details</h1><br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mx-auto" >
  
    <ng-container matColumnDef="empid">
      <th mat-header-cell *matHeaderCellDef> Emp Id </th>
      <td mat-cell *matCellDef="let element"> {{element.empid}} </td>
    </ng-container>
    
    <ng-container matColumnDef="firstname">
      <div class="col-md-1"></div>
      <th mat-header-cell *matHeaderCellDef>First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>
   
      <ng-container matColumnDef="email">
        <div class="col-md-1"></div>
        <th mat-header-cell *matHeaderCellDef>Email Id </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="contactno"><div class="col-md-1"></div>
        <th mat-header-cell *matHeaderCellDef> Contact Number</th>
        <td mat-cell *matCellDef="let element"> {{element.contactno}} </td>
      </ng-container>
      

      <ng-container matColumnDef="actions">
        <div class="col-md-1"></div>
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Actions</th>
        <mat-cell *matCellDef="let row" >
          
             <button mat-raised-button color="primary"  (click)="viewEmp(row)" >View</button>
             <div class="col-md-1"></div>
             <button mat-raised-button color="accent" (click)="updateEmp(row)">Update</button>
       </mat-cell>
       
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  